{{ define "header" }}
<div class="grid-container">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

{{ define "main" }}
<div class="grid-container">
  <main>
    {{ .Content }}
    
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    {{ range .Pages }}
      <div class="cell text-center">
        <div class="card">
          <div class="card-section">
            <img src="{{ .URL }}avatar.jpg" width="128" height="128"
                 class="rounded">
          </div>
          <div class="card-section">
            <h2 class="h4">{{ .Params.Name }}</h2>
            <p>{{ .Params.Role }}</p>
            <ul class="menu align-center">
              {{ with .Params.Contact.email }}
              <li>
                <a href="mailto:{{ . }}">
                  <span class="fa fa-2x fa-envelope"></span>
                  <span class="show-for-sr">Courriel</span>
                </a>
              </li>
              {{ end }}
              {{ with .Params.Contact.github }}
              <li>
                <a href="https://github.com/{{ . }}">
                  <span class="fa fa-2x fa-github"></span>
                  <span class="show-for-sr">GitHub</span>
                </a>
              </li>
              {{ end }}
              {{ with .Params.Contact.gitlab }}
              <li>
                <a href="https://gitlab.com/{{ . }}">
                  <span class="fa fa-2x fa-gitlab"></span>
                  <span class="show-for-sr">GitLab</span>
                </a>
              </li>
              {{ end }}
              {{ with .Params.Contact.twitter }}
              <li>
                <a href="https://twitter.com/{{ . }}">
                  <span class="fa fa-2x fa-twitter"></span>
                  <span class="show-for-sr">Twitter</span>
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    {{ end }}
    </div>
  </main>
</div>
{{ end }}
