<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  {{ $style := resources.Get "css/app.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ block "head" . }}

  {{ end }}
</head>
<body>
  <div class="page">
    <header>
      {{ partial "topbar.html" . }}  

      {{ block "header" . }}

      {{ end }}
    </header>
    
    {{ block "main" . }}

    {{ end }}
    
    <!--
    {{ partial "newsletter.html" . }}  
    -->
    
    <footer class="footer">
      {{ partial "footer.html" . }}  
    </footer>
  </div>
  <!-- Scripts -->
  {{ $jquery := resources.Get "js/jquery.slim.min.js" }}
  {{ $bootstrap := resources.Get "js/foundation.min.js" }}
  {{ $holder := resources.Get "js/holder.min.js" }}
  <script src="{{ $jquery.RelPermalink }}"></script>
  <script src="{{ $holder.RelPermalink }}"></script>
  <script src="{{ $bootstrap.RelPermalink }}"></script>
</body>
</html>
<!--
  Copyright Danny Colin, Open Science UMontreal (c) 2019

  This file is part of Open Science UMontreal.

  Open Science UMontreal is free software: you can redistribute it and/or modify 
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Open Science UMontreal is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with dannycolin.com. If not, see <http://www.gnu.org/licenses/>.
-->
