{{ define "header" }}
  <h1 class="show-for-sr">{{ if .Title }}{{ .Title }}{{ end }}</h1>
  <div class="hero">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell small-12 medium-6 text-center">
          <img src="img/theme/mordor.png" alt="">
        </div>
        <div class="cell small-12 medium-6 align-self-middle text-center">
          <p class="hero__slogan">{{ .Site.Params.Slogan }}</p>
          <h2 class="show-for-sr">Infolettre</h2>
          <p>
            Abonnez-vous à notre infolettre afin de rester à l'affût de nos 
            événements à venir.
          </p>
          <form action="https://tinyletter.com/openscience" 
                method="post" 
                target="popupwindow" 
                onsubmit="window.open('https://tinyletter.com/openscience', 
                                      'popupwindow', 
                                      'scrollbars=yes,width=800,height=600');
                                      return true">
            <label for="tlemail">
              <span class="show-for-sr">Votre adresse courriel</span>            
              <input type="text" 
                     name="email" 
                     id="tlemail" 
                     style="text-align: center; color: #555555;"
                     class="rounded"
                     placeholder="votre@courriel.com" />
            </label>
            <input type="hidden" value="1" name="embed"/>
            <input class="button rounded hollow white expanded" 
                   type="submit" 
                   value="Je m'abonne" />
          </form>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "main" }}
  <main>
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell">
          {{ .Content }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
