// -----------------------------------------
// This is the main SCSS file
// -----------------------------------------

// -----------------------------------------
// Forkawesome
// -----------------------------------------
@import 'forkawesome/fork-awesome';

// -----------------------------------------
// Foundation Zurb
// -----------------------------------------
@import 'settings';
@import 'foundation/foundation';

// -----------------------------------------
// Global styles
// -----------------------------------------
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// -----------------------------------------
// Grids (choose one)
// -----------------------------------------
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// -----------------------------------------
// Generic components
// -----------------------------------------
@include foundation-button;
// @include foundation-button-group;
// @include foundation-close-button;
// @include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
// @include foundation-table;

// -----------------------------------------
// Basic components
// -----------------------------------------
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
// @include foundation-pagination;
// @include foundation-tooltip;

// -----------------------------------------
// Containers
// -----------------------------------------
// @include foundation-accordion;
// @include foundation-media-object;
// @include foundation-orbit;
// @include foundation-responsive-embed;
// @include foundation-tabs;
// @include foundation-thumbnail;

// -----------------------------------------
// Menu-based containers
// -----------------------------------------
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-accordion-menu;
// @include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// -----------------------------------------
// Layout components
// -----------------------------------------
@include foundation-off-canvas;
// @include foundation-reveal;
@include foundation-sticky;
// @include foundation-title-bar;
@include foundation-top-bar;

// -----------------------------------------
// Helpers
// -----------------------------------------
// @include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

// -----------------------------------------
// Customization
// -----------------------------------------

body {
  background-color: #0c0c0d;
}

.top-bar-wrapper,
.hero {
  background-color: get-color(primary);
  color: white;
}
.top-bar {
  a {
    color: white;
  }
  a:hover {
    background-color: white;
    border-radius: 50px;
    color: get-color(primary);
  }
}
.hero {
  padding-top: 15px;
}
.hero__slogan {
  color: white;
  font-size: 2em;
}

.page {
  background-color: #ffffff;
}

.footer {
  background-color: #0c0c0d;
  color: white;
  padding-top: 15px;
}

