<h2 class="show-for-sr">Informations additionnelles</h2>
<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-12 medium-auto">
      <p>
        Sauf exception, le source code de ce site Internet est sous license 
        <a href="#">AGPLv3</a> 
        et le contenu est sous license 
        <a href="#">CC-BY-SA 4.0</a>.
      </p>    
    </div>
    <div class="cell small-12 medium-shrink">
      <!--
      <ul class="menu" style="margin-top: -8px;">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">GitLab</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
      -->
    </div>
  </div>
</div>
