<div class="top-bar-wrapper">
  <div class="grid-container">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">{{ .Site.Title }}</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu text-right">
          {{ range .Site.Menus.main }}
            {{ if .Pre }}
            <li>
              <a href="{{ .URL }}">
                {{ .Pre }}
                <span class="show-for-sr">{{ .Name }}</span>
              </a>
            </li>
            {{ else }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
